<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add new Products</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<style>
     body {
              background-color:#fdfd96;
            }
</style>
<div align="center">
    <h1>Create New Products</h1>
    <br />
     <div class="col-sm-4">
    <form action="#" th:action="@{/save}" th:object="${product}" method="post">
 
      
<div alight="left">
            <tr>
                <label class="form-label" >Product Name</label>
                <td>
                <input type="hidden" th:field="*{id}" />
                <input type="text" th:field="*{pname}" class="form-control" placeholder="Product Name" required="required" />
                </td>
            </tr>
         </div>  
        
        
          <div alight="left">
            <tr>
                <label class="form-label" >Product Price</label>
                
                <td>
                 <input type="text" th:field="*{pprice}" class="form-control" placeholder="Price" required="required"/>
                </td>
            </tr>
         </div>  
 
     <div alight="left">
            <tr>
                <label class="form-label" >Product Description</label>
                
                <td>
                 <input type="text" th:field="*{pdescription}" class="form-control" placeholder="Description" required="required" />
                </td>
            </tr>
         </div>  
         
             <div alight="left">
            <tr>
                <label class="form-label" >Product Category</label>
                
                <td>
                 <input type="text" th:field="*{pcategory}" class="form-control" placeholder="Category" required="required" />
                </td>
            </tr>
         </div>  
             <div alight="left">
            <tr>
                <label class="form-label" >Product Brand</label>
                
                <td>
                 <input type="text" th:field="*{pbrand}" class="form-control" placeholder="Brand" required="required"/>
                </td>
            </tr>
         </div>  
<br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
            </tr>
 
    </form>
</div>
</body>
</html>