<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
 
</head>
<body>
<style>
 body {
              background-color:#fdfd96;
            }
</style>
<div>
<h2 >Customer creation Creation</h2>
<tr>
<div align = "left" >
<h3><a  th:href="@{'/Customer/addcustomer'}">Add new</a>   
</div>
</tr>
 
<div class="col-sm-8" align = "center">
        <div class="panel-body" align = "center" >
                
                
   <table class="table">
<thead class="thead-dark">
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Address</th>
             <th>Mobile Number</th>
              <th>Age</th>
             <th>edit</th>
             <th>delete</th>
   </tr>
  </thead>
  <tbody>
      <tr  th:each="customer : ${listcustomer}">
<td th:text="${customer.id}">Customer ID</td>
<td th:text="${customer.cname}"> Name</td>
<td th:text="${customer.address}">Address</td>
<td th:text="${customer.mobile}">Mobile</td>
<td th:text="${customer.age}">Age</td>
 
<td>
<a th:href="@{'/Customer/edit/' + ${customer.id}}">Edit</a>
</td>     
<td>
<a th:href="@{'/Customer/delete/' + ${customer.id}}">Delete</a>
</td>     
</tr>
  </tbody>
  </table>                
</div>
</div>
 
</tr>
 
</tbody>
</table>
<div>
 
</body>
</html>